왼쪽 파일 업로드 후 진행

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [0]:
data = pd.read_json('./input.json')

ValueError: ignored

In [0]:
data

In [0]:
data = pd.read_excel('./input.xlsx')
data

   id    name  salary start_date        dept
0   1    Rick  623.30 2012-01-01          IT
1   2     Dan  515.20 2013-09-23  Operations
2   3   Tusar  611.00 2014-11-15          IT
3   4    Ryan  729.00 2014-05-11          HR
4   5    Gary  843.25 2015-03-27     Finance
5   6   Rasmi  578.00 2013-05-21          IT
6   7  Pranab  632.80 2013-07-30  Operations
7   8    Guru  722.50 2014-06-17     Finance

In [0]:
data.to_excel (r'./output.xlsx', index = True, header=True)

In [0]:
data

   id    name  salary start_date        dept
0   1    Rick  623.30 2012-01-01          IT
1   2     Dan  515.20 2013-09-23  Operations
2   3   Tusar  611.00 2014-11-15          IT
3   4    Ryan  729.00 2014-05-11          HR
4   5    Gary  843.25 2015-03-27     Finance
5   6   Rasmi  578.00 2013-05-21          IT
6   7  Pranab  632.80 2013-07-30  Operations
7   8    Guru  722.50 2014-06-17     Finance

In [0]:
with pd.ExcelFile('./input_3.xlsx') as xls:
  df2=pd.read_excel(xls,'Sheet2')
df2

   id    name  salary start_date        dept
0   1    Rick  623.30 2012-01-01          IT
1   2     Dan  515.20 2013-09-23  Operations
2   3   Tusar  611.00 2014-11-15          IT
3   4    Ryan  729.00 2014-05-11          HR
4   5    Gary  843.25 2015-03-27     Finance
5   6   Rasmi  578.00 2013-05-21          IT
6   7  Pranab  632.80 2013-07-30  Operations
7   8    Guru  722.50 2014-06-17     Finance

In [0]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.16)

In [0]:
from sqlalchemy import create_engine

In [0]:
data=pd.read_json('./input.json')
engine=create_engine('sqlite:///:memory:')
data.to_sql('data_table',engine)

In [0]:
res1 = pd.read_sql_query('SELECT * FROM data_table', engine)
res2 = pd.read_sql_query('SELECT dept,sum(salary) FROM data_table group by dept', engine)
res1,res2

(   index  ID      Name  Salary   StartDate        Dept
 0      0   1      Rick  623.30    1/1/2012          IT
 1      1   2       Dan  515.20   9/23/2013  Operations
 2      2   3  Michelle  611.00  11/15/2014          IT
 3      3   4      Ryan  729.00   5/11/2014          HR
 4      4   5      Gary  843.25   3/27/2015     Finance
 5      5   6      Nina  578.00   5/21/2013          IT
 6      6   7     Simon  632.80   7/30/2013  Operations
 7      7   8      Guru  722.50   6/17/2014     Finance,
          Dept  sum(salary)
 0     Finance      1565.75
 1          HR       729.00
 2          IT      1812.30
 3  Operations      1148.00)

In [0]:
from collections import Counter
with open(r'./sample_data/README.md') as f:
  p_dict = Counter(f.read().split());
print(p_dict)

Counter({'is': 4, 'a': 3, '*': 3, 'the': 3, 'sample': 2, 'at:': 2, 'of': 2, 'described': 2, 'copy': 2, 'was': 2, 'in': 2, 'This': 1, 'directory': 1, 'includes': 1, 'few': 1, 'datasets': 1, 'to': 1, 'get': 1, 'you': 1, 'started.': 1, '`california_housing_data*.csv`': 1, 'California': 1, 'housing': 1, 'data': 1, 'from': 1, '1990': 1, 'US': 1, 'Census;': 1, 'more': 1, 'information': 1, 'available': 1, 'https://developers.google.com/machine-learning/crash-course/california-housing-data-description': 1, '`mnist_*.csv`': 1, 'small': 1, '[MNIST': 1, 'database](https://en.wikipedia.org/wiki/MNIST_database),': 1, 'which': 1, 'http://yann.lecun.com/exdb/mnist/': 1, '`anscombe.json`': 1, 'contains': 1, "[Anscombe's": 1, 'quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet);': 1, 'it': 1, 'originally': 1, 'Anscombe,': 1, 'F.': 1, 'J.': 1, '(1973).': 1, "'Graphs": 1, 'Statistical': 1, "Analysis'.": 1, 'American': 1, 'Statistician.': 1, '27': 1, '(1):': 1, '17-21.': 1, 'JSTOR': 1, '2682899.': 1, 'and': 1, 'our': 1, 'prepared': 1, 'by': 1, '[vega_datasets': 1, 'library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).': 1})

In [0]:
res1.info() #레코드에 관한것

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      8 non-null      int64
 1   ID         8 non-null      int64
 2   Name       8 non-null      object
 3   Salary     8 non-null      float64
 4   StartDate  8 non-null      object
 5   Dept       8 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 512.0+ bytes

In [0]:
res1.describe(include='all')   #통계에 관련한 것  #숫자가 1이면 1번반복

          index       ID  Name      Salary  StartDate Dept
count   8.00000  8.00000     8    8.000000          8    8
unique      NaN      NaN     8         NaN          8    4
top         NaN      NaN  Guru         NaN  5/11/2014   IT
freq        NaN      NaN     1         NaN          1    3
mean    3.50000  4.50000   NaN  656.881250        NaN  NaN
std     2.44949  2.44949   NaN  103.059463        NaN  NaN
min     0.00000  1.00000   NaN  515.200000        NaN  NaN
25%     1.75000  2.75000   NaN  602.750000        NaN  NaN
50%     3.50000  4.50000   NaN  628.050000        NaN  NaN
75%     5.25000  6.25000   NaN  724.125000        NaN  NaN
max     7.00000  8.00000   NaN  843.250000        NaN  NaN

In [0]:
data = {"Kim": 35000, "Park": 67000, "Joon": 12000, "Choi": 4000}

In [0]:
obj2 = pd.Series(data)

In [0]:
obj2, obj2.dtypes, obj2.shape, type(obj2)

(Kim     35000
 Park    67000
 Joon    12000
 Choi     4000
 dtype: int64, dtype('int64'), (4,), pandas.core.series.Series)

In [0]:
obj2.values, obj2.values.shape, type(obj2.values)

(array([35000, 67000, 12000,  4000]), (4,), numpy.ndarray)

In [0]:
obj2.index, obj2.index.shape, obj2.dtypes, type(obj2.index)

(Index(['Kim', 'Park', 'Joon', 'Choi'], dtype='object'),
 (4,),
 dtype('int64'),
 pandas.core.indexes.base.Index)

In [0]:
obj2+30000000

Kim     30035000
Park    30067000
Joon    30012000
Choi    30004000
dtype: int64

In [0]:
 pd_series01 = pd.Series([1,2,3,4,5])
 pd_series01

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [0]:
pd_series01[:3], pd_series01[[1,2]]

(0    1
 1    2
 2    3
 dtype: int64, 1    2
 2    3
 dtype: int64)

In [0]:
obj1 = pd.Series([4, 5, -2, 8], index=["a", "b", "c", "d"])
obj3 = pd.Series([4,5,-2,8,10],index=["a","b","c","d","e"])

In [0]:
obj3, obj3.values, obj3.index, obj3.dtypes

(a     4
 b     5
 c    -2
 d     8
 e    10
 dtype: int64,
 array([ 4,  5, -2,  8, 10]),
 Index(['a', 'b', 'c', 'd', 'e'], dtype='object'),
 dtype('int64'))

In [0]:
obj1*obj3

a    16.0
b    25.0
c     4.0
d    64.0
e     NaN
dtype: float64

In [0]:
obj1[obj1>4]
obj1[:3] = [9,8,7]
obj1[['a','c','d']] = [20,30,40]
del obj3["b"]
obj1.drop(['b','d'])

a    20
c    30
dtype: int64

In [0]:
obj1,obj2,obj3

(a    20
 b     8
 c    30
 d    40
 dtype: int64, Kim     35000
 Park    67000
 Joon    12000
 Choi     4000
 dtype: int64, a     4
 c    -2
 d     8
 e    10
 dtype: int64)

In [0]:
obj3[:3]

a    4
c   -2
d    8
dtype: int64

In [0]:
data01 = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'c', 'd', 'e'])}

In [0]:
pd_df05 = pd.DataFrame(data01)

In [0]:
pd_df05

   one  two
a  1.0  1.0
b  2.0  NaN
c  3.0  2.0
d  NaN  3.0
e  NaN  4.0

In [0]:
pd_df05 ['one'], type(pd_df05 ['one'])

(a    1.0
 b    2.0
 c    3.0
 d    NaN
 e    NaN
 Name: one, dtype: float64, pandas.core.series.Series)

In [0]:
pd_df05 ['one', 'two']   #오류

In [0]:
 pd_df05 [['one', 'two']]   # [] 2개 권장

   one  two
a  1.0  1.0
b  2.0  NaN
c  3.0  2.0
d  NaN  3.0
e  NaN  4.0

In [0]:
pd_sr06=pd.Series([10,20,30],index=['a','e','f'])

In [0]:
pd_df05['three']=pd_sr06

In [0]:
pd_df05

   one  two  three
a  1.0  1.0   10.0
b  2.0  NaN    NaN
c  3.0  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0   20.0

In [0]:
pd_df05['four']=pd_df05['two']+pd_df05['three']

In [0]:
pd_df05

   one  two  three  four
a  1.0  1.0   10.0  11.0
b  2.0  NaN    NaN   NaN
c  3.0  2.0    NaN   NaN
d  NaN  3.0    NaN   NaN
e  NaN  4.0   20.0  24.0

In [0]:
pd_df05['five']=np.array([10,20,30,40,50])

In [0]:
pd_df05

   three  four  five
a   10.0  11.0    10
b    NaN   NaN    20
c    NaN   NaN    30
d    NaN   NaN    40
e   20.0  24.0    50

In [0]:
del pd_df05['one']

In [0]:
pd_df05

   two  three  four  five
a  1.0   10.0  11.0    10
b  NaN    NaN   NaN    20
c  2.0    NaN   NaN    30
d  3.0    NaN   NaN    40
e  4.0   20.0  24.0    50

In [0]:
pd_df05.pop('two')

a    1.0
b    NaN
c    2.0
d    3.0
e    4.0
Name: two, dtype: float64

In [0]:
pd_df05

   three  four  five
a   10.0  11.0    10
b    NaN   NaN    20
c    NaN   NaN    30
d    NaN   NaN    40
e   20.0  24.0    50